/* WE-DO-PAGE--------------------- */
.we-do {
    .we-do__container {
        padding: 180px 0 0 0;
        .we-do__body {
            display: flex;
            .we-do__column {
                flex: 1 0 50%;
                .we-do__header {
                    font-size: 36px;
                    line-height: 46px;
                    letter-spacing: 0.05em;
                    color: #316099;
                    max-width: 360px;
                }
                .we-do__card {
                    padding: 0 48px 48px 48px;
                    background: #ffffff;
                    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
                    border-radius: 10px;
                    .card__img {
                    }
                    .card__content {
                        .card__title {
                            font-size: 20px;
                            line-height: 30px;
                            letter-spacing: 0.05em;
                            color: #1f3f68;
                        }
                        .card__text {
                            font-size: 16px;
                            line-height: 26px;
                            letter-spacing: 0.05em;
                            color: #1f3f68;
                            opacity: 0.6;
                        }
                        .card__link {
                            font-size: 14px;
                            line-height: 30px;
                            letter-spacing: 0.05em;
                            color: #5a98d0;
                        }
                    }
                }
            }
        }
    }
}
